* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, dodgerblue, rgb(10, 74, 138));
    z-index: 2;
    height: 135px;
}

.me{
    border-radius: 100px;
    display: block;
    margin-left: 20px;
    margin-top: 30px;
}

body {
    /* background-color: rgb(196, 195, 195); */
    background-image: linear-gradient(rgb(207, 207, 207), rgb(65, 65, 65));
}


header h1 {
    font-size: 25px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: fixed;
    top: 5px;
}

header nav {
    font-size: 16px;
    text-align: end;
    position: fixed;
    top: 100px;
    right: 10px;
    
}

header ul {
    margin-bottom: 5px;
    word-spacing: 4px;
}

header ul li {
    display: inline;
    word-spacing: 2px;

}

header ul li a {
    color: white;
}


.work1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
}
.work1 .caption {
    position: relative;
}

.work1 div img {
    width: 100%;
    padding-top: 70px;
}

.work2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.work2 .caption {
    position: relative;
}

.work2 div img{
    width: 100%;
    
}

.text-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(44, 44, 44);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.outer-container {
    padding-top: 100px;
    padding-bottom: 20px;
    
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}

article {
    background-color: rgb(150, 201, 253);
    text-align: center;
    width: 50%;
    box-shadow: black 4px 4px 10px;
}

article h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article p {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;

}

.footer {
    position: relative;
}

footer {
    background-image: linear-gradient(to right, dodgerblue, rgb(10, 74, 138));
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top: 100px;

}



footer h3 {
    font-size: 25px;
}

 footer ul li {
     display: inline;
     margin-top: 20px;
 }

footer ul li a {
    color: white;
    font-size: 20px;
    padding: 5px;
}


