header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: dodgerblue;
}

header h1 {
    font-size: 25px;
    color: white;
}

header nav {
    font-size: 20px;
    text-align: end;
}

header ul {
    margin-bottom: 5px;
}

header ul li {
    display: inline;
}

header ul li a {
    color: white;
}



.work1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.work1 .caption {
    position: relative;
}

.work1 div img {
    width: 100%;
}

.work2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.work2 .caption {
    position: relative;
}

.work2 div img{
    width: 100%;
    
}

.text-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(44, 44, 44);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.outer-container {
    padding-top: 100px;
}

article h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

article p {
    font-size: 16px;
    margin-bottom: 10px;
}
